
footer {
    margin-top: 10rem;
    background-color: var(--black);
    color: var(--white);
  }
  
  .footer-container {
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3.5rem 5rem;
  }
  
  .footer-nav {
    display: flex;
    flex-direction: column;
  }
  
  .footer-link {
    color: var(--white);
    font-weight: 500;
  }
  
  .footer-link:hover {
    color: var(--primary-color);
  }
  

  @media only screen and (max-width: 600px) {

    footer {
        text-align: center;
    }
    .footer-container {
        height: 55vh;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-nav {
        margin-bottom: 3rem;
    }
  }